{% load staticfiles %}

<html>
    <head>
        <title>Road Recovery System</title>
    </head>
    <body>
<br><br><br>
        <table align="center">
            <tr>
                <td>
                    <a href="/user/">
                        <img src="{% static '/images/user.png' %}" width="350px">
                    </a>
                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>
                    <a href="/admins/">
                        <img src="{% static '/images/admin.png' %}" width="400px">
                    </a>
                </td>
            </tr>
        </table>
    </body>
</html>
<!--<button name="next" class="action-button" id="user">User</button>-->
<!--<button name="next" class="action-button" id="admin">Admin</button>-->
